<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% ListUsers.forEach(element => { %>
      <h1> <%= element.Users %></h1>
      <h1> <%= element.Pass %></h1>
    <%  }); %>

  </body>
</html>